
html, body {
    position: relative;
    height: 100%;
}
body,a  {
	font: 16px/1.1 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
	color: rgb(255, 255, 255);
	text-align: center;
}
.footer {
	display: none;
}
/*主页内容部分*/
.container {
	width: 100%;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.section-1 {
	background-image: url(../img/index/img1.png);
}

.section-2 {
	background-image: url(../img/index/img2.png);
}

.section-3 {
	background-image: url(../img/index/img3.png);
}

.section-4 {
	background-image: url(../img/index/img4.png);
}

.section-5 {
	background-image: url(../img/index/img5.png);
<<<<<<< HEAD
}

.response {
	padding-top:263px;
}
.section-1 .response{
	padding-top: 355px;
}

.section-5 .response{
	padding-top: 226px;
}


.response h3,
.response div  {
	padding: 21px;
}
.response {
	padding-top:263px;
}
.section-1 .response{
	padding-top: 355px;
}

.section-5 .response{
	padding-top: 226px;
}


.response h3,
.response div  {
	padding: 21px;
}
.in {
	width: 59px;
	height: 61px;
	background:#59c3fd url(../img/index/in.png) no-repeat center center ;
	border-radius: 3px;
	margin-top: -30px;
	position: absolute;
	left: 15px;
	top:430px;
	z-index: 9999;
}


.section-2 .response a {
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #59c3fd;
	border-radius: 5px;
}
.section-2 .response span {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin-left: 14px;
	background-color: #fff;
	border-radius: 50%;
}

.section-2 .response i {
	display: inline-block;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color:#59c3fd ;
	margin-left: 6px;
}

.section-3  .response ul,
.section-4 .content ul {
	width: 76.666%;
	margin: 0 auto;
	padding-left: 30px;
}
.section-3  .response li {
	float: left;
	width: 20%;
	text-align: center;
	font-size: 24px;
    line-height: 1.25;
    padding: 0 30px;
}

.section-3  .response img {
	display: inline-block;
	margin-bottom: 17px;
}

.section-4 ul,
.section-5 ul {
	display: inline-block;
	margin: 0 auto;
}

.section-4 li {
	float: left;
}
.section-4 li a {
	display: block;
	text-align: left;
	margin-right: 52px;
	margin-bottom: 32px;
	text-decoration: underline;
}
.section-4 span {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background-color: #59c3fd;
	border-radius: 50%;
	margin-right: 12px;
	text-decoration: none;
}

.section-5 li {
	float: left;
	width: 200px;
}
.section-5 li a {
	display: block;
	width: 82px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
}
.section-5 span {
	display: inline-block;
	width: 82px;
	height: 82px;
	background: url(../img/index/s5spirit.png) no-repeat;
}
.section-5 li:nth-of-type(2) span {
	background-position: right 0;
}

/*滚动JQ效果部分 */
html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.section-btn {
	display: none;
	width: 37px;
	margin-top: -94px;
	position: fixed;
	right: 9.7%;
	top: 50%;
}

.section-btn li {
	width: 37px;
	height: 37px;
	padding-top: 8px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-bottom: 11px;
	background: #fff;
	onsor: pointer;
}

.section-btn li span {
	display: inline-block;
	width: 23px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.section-btn li.on {
	background: #59c3fd;
}

.section-btn .page1 span {
	background-image: url(../img/index/page1.png) ;
}
.section-btn .page2 span {
	background-image: url(../img/index/page2.png) ;
}

.section-btn .page3 span {
	background-image: url(../img/index/page3.png) ;
}

.arrow {
	opacity: 1;
	animation: arrow 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
	-webkit-animation: arrow 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
	position: fixed;
	bottom: 28px;
	left: 50%;
	z-index: 999;
	margin-left: -65px;
	width: 130px;
	height: 90px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
}

.arrow span {
	display: block;
}
.arrow:hover {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

@keyframes arrow {
	%0,
	%100 {
		bottom: 10px;
		opacity: 1;
	}
	50% {
		bottom: 50px;
		opacity: .5
	}
}

@-webkit-keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }